<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-blue">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item text-blue">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-blue">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-blue">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="console-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="console-link">
                <a href="{% url 'products' %}?category=console" class="dropdown-item text-red">Consoles</a>
                <a href="{% url 'products' %}?category=handheld" class="dropdown-item text-red">Handheld</a>
                <a href="{% url 'products' %}?category=controller" class="dropdown-item text-red">Controllers</a>
                <a href="{% url 'products' %}?category=console,handheld,controller" class="dropdown-item text-red">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="console-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manufacturer
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="console-link">
                <a href="{% url 'products' %}?manufacturer=nintendo" class="dropdown-item text-blue">Nintendo</a>
                <a href="{% url 'products' %}?manufacturer=sega" class="dropdown-item text-blue">Sega</a>
                <a href="{% url 'products' %}?manufacturer=sony" class="dropdown-item text-blue">Sony</a>
                <a href="{% url 'products' %}?manufacturer=microsoft" class="dropdown-item text-blue">Microsoft</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="console-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Decade released
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="console-link">
                <a href="{% url 'products' %}?year=1980s" class="dropdown-item text-red">1980's</a>
                <a href="{% url 'products' %}?year=1990s" class="dropdown-item text-red">1990's</a>
                <a href="{% url 'products' %}?year=2000s" class="dropdown-item text-red">2000's</a>
                <a href="{% url 'products' %}?year=2010s" class="dropdown-item text-red">2010's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
        </li>
    </ul>
</div>