{% extends "base.html" %}
{% load static%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<!--header-->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--overlay-->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Contact Us</h2>
            <hr>
        </div>
    </div>

    <div class="row mt-3 px-3">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'contact' %}" class="form mt-3" id="contact-form">
                {% csrf_token %}
                {{ form | crispy }}
                <div class=" text-right">
                <!--submit/cacel buttons-->
                <a href="{% url 'home' %}" class="btn btn-danger rounded-0">Cancel</a>
                <button class="btn btn-success rounded-0" type="submit">Send Message</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}